.input:focus {
    outline: none;
    border: black solid 2px;
}



.superInput {
    margin: 10px;
    background: green;
    color: black;
}

.errorInput {
    margin: 10px;
    background: red;
    color: black;
    border: black solid 2px;

}



.error {
    color: red;
    height: 25px;
    margin-left: 15px;
}
